article {
    border-left: 1rem solid $myblue;

    section {

        h2 {
            color: white;
            background-color: $myred;
        }

        div.skills {
            div.row {
                margin-left: 1rem;

                img {
                    display: block;
                    margin: auto;
                }

                &:last-of-type {
                    img {
                        padding: 0 1rem;
                    }
                }
            }
        }
    }
}