header {
    background-color: $myblue;
    border-bottom: 4rem solid $myred;

    div.photo-corner {
        border-right: 1rem solid white;
        text-align: center;

        img {
            height: 17rem;
            border: 0.5rem solid white;
        }
    }

    div.title-main {
        div {
            margin: auto 0;

            img {
                display: block;
                height: 15rem;
                margin: 1rem;
            }

            h1 {
                margin-bottom: 1rem 0;
                font-size: 6rem;
                font-weight: bold;
                color: white;
            }
    
            // a {
            //     margin-bottom: -2rem;
            //     font-size: 2rem;
            //     color: white;
            // }
        }

        a {
            position: absolute;
            right: 0;
            bottom: 0;
            margin: 0 1rem -3.2rem 0;
            text-decoration: none;
            font-size: 2rem;
            color: white;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}