header {
    background-color: $myblue;
    border-bottom: 4rem solid $myred;

    div.photo-corner {
        padding: 1rem 10rem;
        border-right: 1rem solid white;

        img {
            border: 1rem solid white;
        }
    }

    div.title-main {
        div {
            margin: auto 0;

            img {
                display: block;
                margin: 1rem auto;
            }

            h1 {
                margin-bottom: 1rem 0;
                font-size: 6rem;
                color: white;
            }
    
            a {
                font-size: 2rem;
                color: white;
            }
        }
    }
}