@import "variables";
@import "header";
@import "aside";
@import "article";

html {
    font-size: 12px;

    h1, h2, h3 {
        text-transform: uppercase;
    }
}


main {
    h2 {
        margin: 1rem 0;
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
    }

    p {
        font-size: 1.5rem;
    }
}

footer {
    padding: 1rem 2rem;
    text-align: center;
    background-color: $myred;
}